body{
	background-color: #FFD700;
}
img{
	float:left;
	width: 200px;
	height: 200px;
}
h1{
	padding: 15px;
	padding-left: 50px;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}
button{
	color: purple;
	background-color: yellow;
}

p:first-letter{
    text-transform: uppercase;
}
p {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.05em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 135%;
	font-size:12pt;
	font-variant: small-caps;
}

