body{
	background-color: #DDA0DD;
}
img{
	float:left;
	width:150px;
	height:150px;
	border-radius:50%;

}
h1{
	padding: 15px;
	padding-left: 50px;
}
button{
	color: purple;
	background-color: yellow;
}

